
<h3>
    <a [title]="product.name + ' details'" [href]="product.url" target="_blank">
        <span>{{ product.name }}</span>

        <div>
            <img src="{{ product.image }}" alt="" width="100">
        </div>
    </a>
</h3>
<p class="rating">Rating: {{ product.rating }}</p>

<p class="price">Цена: {{ product.price }} Тг</p>

<p *ngIf="product.description">{{ product.description }}</p>

<button type="button" (click)="share_wtsp(product.url)">
    Share to WhatsApp
</button>

<button type="button" (click)="share_telegram(product.url)" class="btn_telegram">
    Share to Telegram
</button>